.bg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 20px;
    width: 90%;
    height: 90%;
    position: relative;
}

.bg-container::before {
content: ' ';
position: absolute;
border-radius: 8px;
top: 0;
right: 0;
left: 0;
bottom: 0;
z-index: -1;
opacity: 0.8;
background: linear-gradient(to right, #a2d5f2, #40a8c4, #07689f);
-ms-background-size: cover;
-o-background-size: cover;
-moz-background-size: cover;
-webkit-background-size: cover;
}