.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

@media (max-width: 375px) {
    .content-info {
        width: 300px;
    }
}

.content-info h1 {
    text-align: center;
    color: black;
}

.content-info hr {
    border-top: 5px dotted black;
    width: 80%;
    margin: auto;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.list-item-content {
    color: black; 
    font-weight: bold; 
    padding-bottom: 20px; 
    font-size: 20px; 
    font-size: 20px;
}

@media (max-width: 375px) {
    .list-item-content {
        font-size: 12px;
    }
}

.my-icon {
    font-size: 30px;
}

.cv-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 1px 4px 15px black;
    width: 150px;
    height: 40px;
    color: #07689f;
    background-color: #DCDCDC;
    transition: all .3s;
}

.cv-button:hover {
    transform: translate3d(0, -2px, 0) scale(1.05); 
    background: #07689f;
    color: white;
} 

.social-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    margin-top: 70px;
 }

 @media (max-width: 375px) {
    .social-links {
        width: 300px;
    }
}

 .social-links .icon-increase {
    transition: all .2s ease;
 }

 .social-links .icon-increase:hover {
     transform: translate3d(0, -2px, 0) scale(1.3);     
 }
 
 .social-links i {
     color: black;
     font-size: 3em;
 }