.content-info h1 {
    display: flex;
    justify-content: center;
    color: white;
}

.content-info hr {
    border-top: 5px dotted white;
    width: 80%;
    margin: auto;
}


.contact-info {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.list {
    margin-top: 70px;
}

.social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    padding-left: 8%;
    padding-right: 11%;
 }

 .social-links .icon-increase:hover {
     transform: translate3d(0, -2px, 0) scale(1.03);     
 }
 
 .social-links i {
     color: white;
     font-size: 3em;
     padding: 50%;
 }