.home-container {
  margin: 70px auto;
}

.home__content {
 display: block;
 text-align: center;
}

.home__content img {
    height: 350px;
    width: 350px;
    border-radius: 50%;
}

@media (max-width: 375px) {
    .home__content img {
        height: 250px;
        width: 250px;
        border-radius: 50%;
    }
}

.banner-box {
    margin: 50px auto;
    background-color: black;
    opacity: .8;
    width: 75%;
    height: 30%;
    border-radius: 1rem;
}

@media (max-width: 375px) {
    .banner-box {
        width: 95%;
    }
}

.banner-box h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: white;
}

.banner-box hr {
    border-top: 5px dotted white;
    width: 70%;
    margin: 30px auto;
}

.banner-box p {
    margin-bottom: 0em;
    color: white;
    font-size: 20px;
    padding: 1em;
    text-align: center;
}
