.home-container {
    display: flex;
    align-items: center;
    margin: 70px auto;
}

.home__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.home__content img {
    height: 260px;
    width: 260px;
    border-radius: 50%;
}

@media (max-width: 500px) {
    .home__content img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }
}

.banner-box {
    margin: 50px auto;
    background-color: black;
    opacity: .8;
    width: 75%;
    height: 30%;
    border-radius: 1rem;
}

@media (max-width: 500px) {
    .banner-box {
        width: 100%;
        margin-right: 5px;
    }
}

.banner-box h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.banner-box hr {
    border-top: 5px dotted white;
    width: 70%;
    margin: 30px auto;
}

.banner-box p {
    margin-bottom: 0em;
    color: white;
    font-size: 20px;
    padding: 1em;
    text-align: center;
}
