* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    height: 350px;
    width: 350px;
    border-radius: 50%;
}

@media (max-width: 1366px) {
  .profile-pic {
    height: 250px;
    width: 250px;
  }
}

.banner-box {
    margin: 50px auto;
    background-color: black;
    opacity: .8;
    width: 75%;
    height: 30%;
    border-radius: 1rem;
}

@media (max-width: 806px) {
    .banner-box {
        margin-top: 10px;
        max-width: 380px;
    }
  }

@media (max-width: 1366px) {
    .banner-box {
      margin-top: 10px;
    }
  }

  @media (min-width: 1920px) {
    .banner-box {
      margin-top: 200px;
    }
  }  

.banner-box h1 {
    margin-bottom: 1%;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    color: white;
}

.banner-box hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}

.banner-box p {
    margin-bottom: 0em;
    color: white;
    font-size: 20px;
    padding: 1em;
    text-align: center;
}
