* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.landing-page {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-top: 5px;
  width: 80%;
  height: 700px;
}

.landing-page:before {
  content: ' ';
  display: block;
  position: absolute;
  border-radius: 8px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
  background: linear-gradient(to right, #F27121, #E94057, #8A2387);
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    height: 350px;
    width: 350px;
    border-radius: 50%;
}

.banner-box {
    margin: 50px auto;
    background-color: black;
    opacity: .8;
    width: 75%;
    height: 30%;
    border-radius: 1rem;
}



@media (max-width: 1024px) {
    .profile-pic {
      height: 250px;
      width: 250px;
    }

    .landing-page {
      margin-top: 10px;
      width: 800px;
    }
  }

  @media (max-width: 768px) {
    .landing-page {
        margin-top: 10px;
        max-width: 380px;
        height: 802px;
    }
  }

.banner-box h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: white;
}

.banner-box hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: 30px auto;
}

.banner-box p {
    margin-bottom: 0em;
    color: white;
    font-size: 20px;
    padding: 1em;
    text-align: center;
}
