.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.banner-main {
    margin-top: 300px;
}

.banner-text {
    margin: 0px auto;
    background-color: black;
    opacity: .8;
    width: 75%;
    height: 300px;
    border-radius: 10px;
}

.banner-text h1 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    color: white;
}

.banner-text hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}

.banner-text p {
    margin-bottom: 0em;
    color: white;
    font-size: 20px;
    padding: 1em;
    text-align: center;
}
.social-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.social-links i {
    color: white;
    font-size: 3em;
    padding: 50%;
}